html {
    background-color: #222222;
}

body {
    max-width: 800px;
    margin: auto;
    padding: 0 16px 0 16px;
    color: #eeeeee;
    font-family: Roboto;
}

.logo {
    display: inline-block;
    margin: 8px;
}

.logo-platinum {
    height: 200px;
}

.logo-gold {
    height: 120px;
}

.logo-silver, .logo-bronze {
    height: 80px;
}
